<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="UTF-8">
  <title>angular</title>
  <script src="app/min/angular.bundle.js"></script>
  <script src="app/min/app.bundle.js"></script>
</head>
<body ng-controller="ToDoCtrl">
  <div class="wrapper">
    <input type="text" ng-model="newItem">
    <button ng-click="addNewItem(newItem)">add</button>
  </div>

  <h6>{{todo.user}}</h6>
  <h6><span ng-class="warningLevel()">complete: {{completeCount()}}</span></h6>
  <h6 ng-show="incompleteCount() > 0">incomplete: {{incompleteCount()}}</h6>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>item</td>
        <td>done</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in todo.items | checkedItems:showComplete | orderBy:'item'">
        <td>{{item.item}}</td>
        <td><input type="checkbox" ng-model="item.status"></td>
      </tr>
    </tbody>
  </table>

  <br>
  <span> show completed: <input type="checkbox" ng-model="showComplete"></span>
  
  <hr>

  <a href="https://www.airpair.com/angularjs/posts/top-10-mistakes-angularjs-developers-make">read</a>
</body>
</html>
